.bgImage{
    background-image: url('https://img.freepik.com/free-vector/happy-kids-having-fun-during-their-music-class_74855-5859.jpg?w=740&t=st=1686322194~exp=1686322794~hmac=a587aa38b685b65a6f5e99e57743ca9bc96297bec847daf810f16c851d6e79e0');
    background-repeat: no-repeat;
    background-size: cover
}   