.bgImage{
    background-image: url('https://as1.ftcdn.net/v2/jpg/01/62/42/74/1000_F_162427443_aIvSlqSSVvPbIvzmPtPnptRLcevTcW43.jpg');
    background-repeat: no-repeat;
    background-size: cover
}   