.bgImageC{
    background-image: url('https://img.freepik.com/premium-photo/professional-microphone-light-stage-spotlights_506584-156.jpg?w=826');
    background-repeat: no-repeat;
    background-size: cover
}  